.footer {
  width: 100%;
  padding: 50px 250px;
  display: flex;
  gap: 200px;
  align-items: center;

  .footer__logo {
    padding: 50px 0;

    span {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      padding: 15px 0;
      p {
        color: #02897a;
        background-color: #edfffc;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .footer__navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    .footer__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .footer__list__title {
        font-size: 22px;
        text-align: start;
      }
      .footer__link {
        color: white;
        text-align: start;
        a {
          color: white;
        }
      }
    }
    .footer__form {
      width: 30%;
      text-align: start;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .form__title {
        font-weight: 500;
        font-size: 25px;
        line-height: 35px;
      }
      .footer__form__input {
        width: 100%;
        padding: 15px;
        outline: none;
        border-radius: 8px;
        border: none;
        font-size: 18px;
      }
      .footer__btn {
        width: 60%;
        padding: 15px 30px;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        color: white;
        background-color: #02897a;
        font-weight: 700;
        &:hover {
          background-color: white;
          color: #02897a;
        }
      }
    }
  }
}
