* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  padding: 0 120px;
  color: white;
}

button {
  cursor: pointer;
}

body {
  background-color: #1f2e35;
  color: white;
}
